body {
  font-family: 'Courier New', Courier, monospace;
  background-color: #c0c0c0;
  text-align: center;
  margin: 0;
  padding: 0;
}

header {
  background: #000080;
  color: white;
  padding: 20px 0;
}

header img {
  width: 150px;
  height: auto;
  border: 2px solid white;
}

.login-container {
  background-color: #ffffff;
  border: 3px solid #000080;
  display: inline-block;
  margin-top: 50px;
  padding: 30px;
  text-align: left;
}

.login-container h2 {
  text-align: center;
  color: #000080;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

input[type="text"], input[type="password"] {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
  border: 1px solid #000080;
  background-color: #f0f8ff;
}

input[type="submit"] {
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  background-color: #000080;
  color: white;
  border: 2px solid #000080;
  cursor: pointer;
  font-weight: bold;
}

input[type="submit"]:hover {
  background-color: #0000cd;
}

.error {
  color: red;
  margin-top: 10px;
  text-align: center;
}
