/* Body */
body {
  font-family: Arial, sans-serif;
  background-color: #ebebeb; /* white background */
  text-align: center;
  margin: 0;
  padding: 0;
}

/* Login Container */
.login-container {
  display: inline-block;
  margin-top: 50px;
  padding: 20px;
  text-align: left;
}

/* Labels */
label {
  display: block;
  color: white;
  margin-top: 10px;
}

/* Input Fields */
input[type="text"], input[type="password"] {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
  border: 1px solid #ccc;
  background-color: white;
  box-sizing: border-box;
}

/* Login Button */
input[type="LOGIN"] {
  display: block;
  margin-top: 10px;
  width: 100px;
  padding: 5px 0;
  background-color: #808080; /* grey */
  color: rgb(188, 188, 188);
  border: none;
  border-radius: 4px;        /* small rounded edges */
  cursor: pointer;
  font-weight: normal;
}

input[type="submit"]:hover {
  background-color: #696969; /* darker grey on hover */
}
